---
import { Icon } from "astro-icon/components";
---

<div class="absolute pointer-events-auto flex gap-10 bottom-0 px-5 py-1 rounded-r-full bg-primary-100 dark:bg-primary-950 border border-primary-500 left-0 mb-3 text-3xl ">
    <Icon name="social/email" class="icon"/>
    <Icon name="social/github" class="icon" />
    <Icon name="social/linkedIn" class="icon"/>
</div>
<style>
    .icon:hover{
        color: var(--primary-500);
    }
</style>