---
import { Icon } from "astro-icon/components";
---

<div class="absolute pointer-events-auto flex gap-10 bottom-0 px-5 py-1 rounded-r-full bg-primary-100 dark:bg-primary-950 border border-primary-500 left-0 mb-3 text-3xl ">
    <a href="">
        <Icon name="social/email" class="icon"/>
    </a>
    <a href="https://github.com/sebasRT">
        <Icon name="social/github" class="icon" />
    </a>
    <a href="https://www.linkedin.com/in/sebastian-robayo-074b30249">
        <Icon name="social/linkedIn" class="icon"/>
    </a>
</div>
<style>
    .icon:hover{
        color: var(--primary-500);
    }
</style>