---
import MainLayout from "../layouts/mainLayout.astro";
import ProjectsSection from "../components/projectsSection.astro";
import SkillsSection from "../components/skillsSection.astro";
import IntroSection from "../components/introSection.astro";
import ContactSection from "../components/contactSection.astro";
import ThemeSwitcher from "../components/buttons/themeSwitcher";
import ContactBar from "../components/buttons/contactBar.astro";
import SeeResume from "../components/buttons/seeResume.astro";
---

<MainLayout>
	
	<IntroSection />
	<SkillsSection />
	<SeeResume/>
	<ProjectsSection />
	<ContactSection />

	<div class="sticky bottom-0 flex items-center mt-10 pointer-events-none">
		<ContactBar />
		<ThemeSwitcher client:load />
	</div>
</MainLayout>
