---
import { Icon } from "astro-icon/components";
import ContactForm from "../components/contactForm.tsx";
---

<section id="contact-me" class="scroll-m-20 fade-in">
    <div>
        <h2 class="text-4xl font-jura font-semibold">Contact Me</h2>
        <span class="opacity-60">Let's get in touch !</span>
    </div>
    <div class="text-left flex flex-col md:flex-row items-center mb-10" id="contact-layer">
        <dl>
            <div class="contact-option">
                <Icon name="social/email" class="icon" />
                <div>
                    <dt>Email</dt>
                    <dd>
                        <a href="mailto:rtsebas11@gmail.com"
                            >rtsebas11@gmail.com</a
                        >
                    </dd>
                </div>
            </div>

            <div class="contact-option">
                <Icon name="social/phone" class="icon" />
                <div>
                    <dt>Phone</dt>

                    <dd>
                        <a href="mailto:rtsebas11@gmail.com">+1 973 449 2442</a>
                    </dd>
                </div>
            </div>
            <div class="contact-option">
                <Icon name="social/location" class="icon" />
                <div>
                    <dt>Based in</dt>

                    <dd>
                        Morristown, New Jersey
                    </dd>
                </div>
            </div>
        </dl>
        <ContactForm client:load/>
    </div>
</section>

<style>
    .contact-option {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 2rem 0;
    }
    #contact-layer {
        display: flex;
        gap: 2.5rem;
    }
    .contact-option:first-child {
        margin-top: 0;
    }
    .icon {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
    dt {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.25rem;
    }
    dd {
        opacity: 0.75;
    }
</style>
